* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}
.App {
  position: absolute;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 600px;
  display: flex;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchArea {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.searchInput {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 23px;
  outline: none;
  font-size: 16px;
  padding-right: 45px;
  padding-left: 45px;
}
.searchInput:hover {
  box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
}
.icons {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  pointer-events: none;
}
.searchBtn {
  margin: 0 5px;
  margin-top: 20px;
  padding: 8px 10px;
  color: #202124;
  font-size: 14px;
  border: 1px solid #dadce0;
  cursor: pointer;
  border-radius: 4px;
}
.searchBtn:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
