.body{
    padding: 10px;
    font-size: 20px;
    border:grey solid 1px; 
    border-radius: 10px;
    margin: 5px;
    background-color:  #FBFFE2;
}
.done{
    border:none;
    background:none;
    color:green;
}
.notdone{
    border:none;
    background:none;
    color:grey;
}
