.container {
  text-align: center;
  margin-top: 155px;
  border: 5px solid black;
  margin-left: 500px;
  display: inline-block;
  background-color: rgb(106, 186, 233);
  border-radius: 10%;
}
table {
  margin: auto;
}
input {
  font-size: large;
  border-radius: 10px;
  background-color: rgb(252, 250, 245);
}
button {
  font-size: large;
  background-color: rgba(196, 197, 194, 0.952);
  height: 45px;
  width: 55px;
  border-radius: 50%;
}
.calci {
  display: inline-block;
}
body {
 
  background-image: url("https://wallpaperaccess.com/full/1564373.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}
h1 {
  color: aliceblue;
}
