{% extends 'info/base.html' %}
{% block content %}


<h1 align="center" style="color:#A65D17" > <strong>
  This is our Clubs and Events Page.</strong> </h1>

<h1 align="center"> {{data_raas.club_name}}</h1>
<h2 align="center"> {{data_raas.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="xZpFBuz"><a href="https://imgur.com/xZpFBuz">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8" ></script>
<p>{{data_raas.description}}</p>


<h1 align="center"> {{data_abhijaat.club_name}}</h1>
<h2 align="center"> {{data_abhijaat.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="lk44T1L"><a href="https://imgur.com/lk44T1L">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_abhijaat.description}}</p>


<h1 align="center"> {{data_art.club_name}}</h1>
<h2 align="center"> {{data_art.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="W0GEghr"><a href="https://imgur.com/W0GEghr">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_art.description}}</p>

<h1 align="center"> {{data_astronomy.club_name}}</h1>
<h2 align="center"> {{data_astronomy.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="opc6d7I"><a href="https://imgur.com/opc6d7I">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_astronomy.description}}</p>

<h1 align="center"> {{data_bhau.club_name}}</h1>
<h2 align="center"> {{data_bhau.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="4jrCMTd"><a href="https://imgur.com/4jrCMTd">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_bhau.description}}</p>

<h1 align="center"> {{data_boat.club_name}}</h1>
<h2 align="center"> {{data_boat.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="SQwTMCA"><a href="https://imgur.com/SQwTMCA">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_boat.description}}</p>

<h1 align="center"> {{data_boat_quiz.club_name}}</h1>
<h2 align="center"> {{data_boat_quiz.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="2ZAlhlx"><a href="https://imgur.com/2ZAlhlx">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_boat_quiz.description}}</p>

<h1 align="center"> {{data_csac.club_name}}</h1>
<h2 align="center"> {{data_csac.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="sVOUh81"><a href="https://imgur.com/sVOUh81">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_csac.description}}</p>


<h1 align="center"> {{data_acm.club_name}}</h1>
<h2 align="center"> {{data_acm.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="DHXmto5"><a href="https://imgur.com/DHXmto5">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_acm.description}}</p>

<h1 align="center"> {{data_consult.club_name}}</h1>
<h2 align="center"> {{data_consult.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="K1b8mSS"><a href="https://imgur.com/K1b8mSS">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_consult.description}}</p>

<h1 align="center"> {{data_csi.club_name}}</h1>
<h2 align="center"> {{data_csi.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="uEF5jhq"><a href="https://imgur.com/uEF5jhq">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_csi.description}}</p>

<h1 align="center"> {{data_philom.club_name}}</h1>
<h2 align="center"> {{data_philom.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="6Q9Nn3n"><a href="https://imgur.com/6Q9Nn3n">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_philom.description}}</p>

<h1 align="center"> {{data_cofsug.club_name}}</h1>
<h2 align="center"> {{data_cofsug.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="0PEZaIn"><a href="https://imgur.com/0PEZaIn">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_cofsug.description}}</p>


<h1 align="center"> {{data_culture.club_name}}</h1>
<h2 align="center"> {{data_culture.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="qNbdcoc"><a href="https://imgur.com/qNbdcoc">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_culture.description}}</p>


<h1 align="center"> {{data_debate.club_name}}</h1>
<h2 align="center"> {{data_debate.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="57MoNiI"><a href="https://imgur.com/57MoNiI">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_debate.description}}</p>

<h1 align="center"> {{data_ham.club_name}}</h1>
<h2 align="center"> {{data_ham.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="I8z11hn"><a href="https://imgur.com/I8z11hn">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_ham.description}}</p>

<h1 align="center"> {{data_history.club_name}}</h1>
<h2 align="center"> {{data_history.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="UOxKPz7"><a href="https://imgur.com/UOxKPz7">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_history.description}}</p>

<h1 align="center"> {{data_i2i.club_name}}</h1>
<h2 align="center"> {{data_i2i.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="9RlkUfU"><a href="https://imgur.com/9RlkUfU">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_i2i.description}}</p>

<h1 align="center"> {{data_icsrg.club_name}}</h1>
<h2 align="center"> {{data_icsrg.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="IKCGeGM"><a href="https://imgur.com/IKCGeGM">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_icsrg.description}}</p>

<h1 align="center"> {{data_janeev.club_name}}</h1>
<h2 align="center"> {{data_janeev.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="DFt9vB4"><a href="https://imgur.com/DFt9vB4">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_janeev.description}}</p>

<h1 align="center"> {{data_person.club_name}}</h1>
<h2 align="center"> {{data_person.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="xh9kSBu"><a href="https://imgur.com/xh9kSBu">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_person.description}}</p>

<h1 align="center"> {{data_maths.club_name}}</h1>
<h2 align="center"> {{data_maths.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="gvFJugB"><a href="https://imgur.com/gvFJugB">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> <p>{{data_maths.description}}</p>

<h1 align="center"> {{data_robot.club_name}}</h1>
<h2 align="center"> {{data_robot.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="Wwi6ptj"><a href="https://imgur.com/Wwi6ptj">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_robot.description}}</p>

<h1 align="center"> {{data_csat.club_name}}</h1>
<h2 align="center"> {{data_csat.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="HAD5P3Z"><a href="https://imgur.com/HAD5P3Z">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_csat.description}}</p>


<h1 align="center"> {{data_science.club_name}}</h1>
<h2 align="center"> {{data_science.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="NKP7Ojq"><a href="https://imgur.com/NKP7Ojq">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_science.description}}</p>

<h1 align="center"> {{data_sds.club_name}}</h1>
<h2 align="center"> {{data_sds.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="5OBWWeP"><a href="https://imgur.com/5OBWWeP">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_sds.description}}</p>

<h1 align="center"> {{data_spandan.club_name}}</h1>
<h2 align="center"> {{data_spandan.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="cN7v42D"><a href="https://imgur.com/cN7v42D">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_spandan.description}}</p>

<h1 align="center"> {{data_dsai.club_name}}</h1>
<h2 align="center"> {{data_dsai.title}}</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="3LDtzgi"><a href="https://imgur.com/3LDtzgi">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><p>{{data_dsai.description}}</p>





 <!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

  <!-- Footer Elements -->
  <div class="container-fluid text-center text-md-left">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3BVQ9Scdglg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> Sushant Agawane </a>
    <a> Chaitanya Dhavan </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}
