{% extends 'info/base.html' %}
{% block content %}
    <h1>List of Classes</h1>
    <div class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Class</th>
                        <th>Course</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ass in teacher1.assign_set.all %}
                    <tr>
                        <td>{{ ass.class_id }}</td>
                        <td>{{ ass.course }}</td>
                        <td>
                            {% if choice == 1 %}
                                <a class="btn btn-primary" href="{% url 't_class_date' ass.id %}" role="button">Enter Attendance</a>
                                <a class="btn btn-warning" href="{% url 't_extra_class' ass.id %}">Extra Class</a>
                                <a class="btn btn-danger" href="{% url 't_student' ass.id %}">View Students</a>

                            {% elif choice == 2 %}
                                <a class="btn btn-primary" href="{% url 't_marks_list' ass.id %}" role="button">Enter Marks</a>
                                <a class="btn btn-danger" href="{% url 't_student_marks' ass.id %}">View Students</a>
                            {% elif choice == 3 %}
                                <a class="btn btn-danger" href="{% url 't_report' ass.id %}">Generate reports</a>
                            {% endif %}

                        </td>
                    </tr>
                    {% empty %}
                            <p>teacher has no courses</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
    </div>

         <!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

  <!-- Footer Elements -->
  <div class="container-fluid text-center text-md-left">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3BVQ9Scdglg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> Sushant Agawane </a>
    <a> Chaitanya Dhavan </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}
